<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/"><mat-icon>home</mat-icon></a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a
        mat-button
        routerLink="/passwordgenerator"
        routerLinkActive="mat-accent"
        >Password Generator</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/AppointmentHome" routerLinkActive="mat-accent"
        >Book Appointment</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/sendemail" routerLinkActive="mat-accent"
        >Send Email</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <span class="fill-remaining-space"></span>

  <div fxLayout="row" fxHide fxShow.gt-sm>
    <button
      *ngIf="userIsAuthenticated"
      mat-button
      routerLinkActive="mat-accent"
      routerLink="/passwordgenerator"
      routerLinkActive="mat-accent"
    >
      Password Generator
    </button>
    <button
      *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/AppointmentHome"
      routerLinkActive="mat-accent"
    >
      Book Appointment
    </button>

    <button
      *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/sendemail"
      routerLinkActive="mat-accent"
    >
      Send Email
    </button>

    <button
      *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/create"
      routerLinkActive="mat-accent"
    >
      New Post
    </button>
    <button
      *ngIf="!userIsAuthenticated"
      mat-button
      routerLink="/auth/login"
      routerLinkActive="mat-accent"
    >
      Login
    </button>
    <button
      *ngIf="!userIsAuthenticated"
      mat-button
      routerLink="/auth/signup"
      routerLinkActive="mat-accent"
    >
      Signup
    </button>
    <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">
      Logout
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu style="height: auto;">
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a
        mat-button
        routerLinkActive="mat-accent"
        routerLink="/passwordgenerator"
        routerLinkActive="mat-accent"
        >Password Generator
      </a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/AppointmentHome" routerLinkActive="mat-accent">
        Book Appointment
      </a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/sendemail" routerLinkActive="mat-accent">
        Send Email
      </a>
    </li>

    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">
        New Post
      </a>
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">
        Login
      </a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">
        Signup
      </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button (click)="onLogout()">
        Logout
      </a>
    </li>
  </ul>
</mat-menu>
